 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


:root {
    --roperTeal: #079f6c;
}

* {
    font-family: Quicksand, Verdana, sans-serif;
    background: none;
    transition: .25s all ease;
}

body, header {
    background-color: #ecfffe;
    background: url(../images/backdrop-lite.jpg) fixed;
    background-size: cover;
}

header {
    width: calc(100% - 72px);
    margin: 0 36px;
    padding: 18px 0;
    border-bottom: 1px solid #AFAFAF;
    position: fixed;
    top: 0;
    z-index: 2;
}

header img {
    max-height: 64px;
}

header h2 {
    float: left;
}

nav {
    float: right;
}

nav ul {
    display: flex;
}

nav a {
    color: var(--roperTeal);
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 4px;
}

nav a:hover {
    color: #454545;
    background-color: rgba(255,255,255,.75);
}

.hero {
    display: flex;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.welcomeblock {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcomeblock h1 {
    font-size: 7vw;
    text-transform: uppercase;
    color: var(--roperTeal);
    margin: 0 12px;
    text-shadow: 1px 2px 2px #b2c5c9;
    font-weight: 300;
    letter-spacing: 1vw;
}

.welcomeblock h1:nth-child(1) {
    margin-right: 0;
}

.welcomeimage {
    width: 25vw;
    height: 25vw;
    border-radius: 100%;
    display: block;
    background-image: url(../images/dummyprofile-grn.png);
    position: relative;
}

.welcomeimage img {
    width: 75%;
    position: absolute;
    top: -5%;
    left: 12.5%;
}

main {
    max-width: 1440px;
    padding: 36px;
    margin: 0 auto 72px;
    background: rgba(255,255,255,.5);
    border-radius: 12px;
}

main h2 {
    font-size: 44px;
    color: var(--roperTeal);
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding: 0 0 24px;
}

main h4, main h5 {
    margin: 12px 0;
    color: #454545;
    font-weight: 500;
    font-size: 28px;
}

main h5 {
    font-style: italic;
}

main p, main li {
    font-size: 24px;
    color: #454545;
    line-height: 1.75;
    text-align: justify;
}

main li {
    margin: 0 0 16px 24px;
    list-style: circle;
}

main img {
    max-width: 100%;
}

section {
    padding: 96px 0;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

section aside, section article {
    margin: 12px;
}

#thebio img {
    border-radius: 100%;
}

#thebio aside {
    width: calc(33.333% - 24px);
}

#thebio article {
    width: calc(66.667% - 24px);
}

#theresume {
    width: 100%;
}

.featured, .additional {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.additional a {
    width: calc(50% - 24px);
}

#theworks a {
    position: relative;
    line-height: 0;
    margin: 12px;
}

#theworks img {
    border-radius: 12px;
}

.navmiddle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    border-radius: 100%;
    border: 5px solid #FFFFFF;
    background-color: rgba(255,255,255,.25);
}

h6 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.25;
}

#thecontacts a {
    background-color: var(--roperTeal);
    padding: 36px;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 12px;
    margin: 12px;
    width: calc(25% - 24px);
}

#thecontacts a:hover {
    transition: .25s all ease;
    color: var(--roperTeal);
    background: #454545;
}

#thecontacts .flexcontainer {
    justify-content: space-between;
}

footer {
    background-color: var(--roperTeal);
    color: #FFFFFF;
    padding: 24px;
    text-align: center;
}

@media (max-aspect-ratio: 1/1) {
    .welcomeblock {
       display: block;
       width: auto;
    }

    .welcomeimage {
        width: 50vw;
        height: 50vw;
        margin: auto;
    }

    .welcomeblock h1 {
        font-size: 15vw;
        margin: 12px 0;
        text-align: center;
    }
}

@media screen and (max-width:1512px) {
    header {
        margin: 0;
        width: 100%;
        padding: 18px 36px;
    }
}

@media screen and (max-width:1024px) {
    #thebio aside, #thebio article {
        width: calc(100% - 24px);
    }

    .featured, .additional {
        width: 100%;
    }

    #thecontacts a {
        width: calc(50% - 24px);
    }
}

@media screen and (max-width:768px) {

}

/*-SCROLLBAR WEBKIT-*/

::-webkit-scrollbar {
    width: 12px !important;
      height: 12px !important;
  }
  
  ::-webkit-scrollbar-track {
      background: transparent !important;
  }
  
  ::-webkit-scrollbar-thumb {
      background: #444444 !important;
      border-radius: 2px !important;
  }
  
  ::-webkit-scrollbar-thumb:hover {
      background: #323232 !important; 
  }	